
@model BanDongHo.Areas.Admin.Models.PromotionDetailViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div id="page-wrapper">
    <div class="row page-header">
        <div class="col-md-8">
            <h1>Thêm mới chi tiết khuyến mãi</h1>

        </div>
        <div class="col-md-4">
            <p style="color:green; margin-bottom: 10px;margin-top:40px">@ViewBag.message</p>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form method="post" action="~/Admin/PromotionDetail/Create">           
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Chọn khuyến mãi</label>
                            @Html.ValidationMessageFor(model => model.MAKM, "", new { @class = "text-danger", @style = "color: red" })
                            <select id="MAKM" name="MAKM" class="form-control">
                                @foreach (var item in ViewBag.KHUYENMAIx)
                                {
                                    <option value="@item.MAKM"> @item.TENKM </option>
                                }
                            </select>

                        </div>

                        <div class="col-md-4">      
                            <label class="control-label">Chọn sản phẩm</label>
                            @Html.ValidationMessageFor(model => model.MASP, "", new { @class = "text-danger", @style = "color: red" })
                            <select id="MASP" name="MASP" class="form-control">
                                @foreach (var item in ViewBag.SANPHAMx)
                                {
                                    <option value="@item.MASP"> @item.TENSP </option>
                                }
                            </select>
                        </div>

                        <div class="col-md-4">
                            @Html.ValidationMessageFor(model => model.PHANTRAMKM, "", new { @class = "text-danger", @style = "color: red" })
                            <label class="control-label">Phầm trăm giảm giá</label>
                            <input type="number" class="form-control" id="PHANTRAMKM" name="PHANTRAMKM" placeholder="" required value="@Model.PHANTRAMKM" min="0" max="100"/>
                        </div>
                    </div>
                </div>
                   
                    <div class="form-group">
                        <button class="btn btn-success" id="btn-ok-create" type="submit"> Ok </button>
                        <button class="btn btn-danger" id="btn-cancel-create"> Cancel </button>
                    </div>
            </form>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>


<!-- javascript -->
<script>
        function validateName() {
            var name = $('#MALOAISP').val();

            if (isEmpty(name)) {
                $('#MALOAISP').css("border-color", "red");
                return false;
            } else {
                $('#MALOAISP').css("border-color", "green");
            }
            return true;
        }
</script>

