@model BanDongHo.Domain.DataContext.SANPHAM
@{
    Layout = null;
}

<div class="form-group">
    <dl class="dl-horizontal">
        <dt>
            Mã sản phẩm
        </dt>
        <dd>
            @Model.MASP
        </dd>
        <dt>
            Tên sản phẩm
        </dt>
        <dd>
            @Model.TENSP
        </dd>
        <dt>
            Số lượng
        </dt>
        <dd>
            @Model.SOLUONG
        </dd>
        <dt>
            Thương hiệu
        </dt>
        <dd>
            @Model.THUONGHIEU.TENTH
        </dd>
        <dt>
            Đơn giá
        </dt>
        <dd>
            @String.Format("{0:0,0}", Model.DONGIA) VNĐ
        </dd>
        <dt>
            Hình Lớn
        </dt>
        <dd>
            <img src="~/images/HINHLON/@Model.HINHLON" width="180" height="120"/>
        </dd>
        <dt>
            Hình Nhỏ
        </dt>
        <dd>
            <img src="~/images/HINHNHO/@Model.HINHNHO/1.jpg" width="60" height="40"/> <span/>
            <img src="~/images/HINHNHO/@Model.HINHNHO/2.jpg" width="60" height="40"/> <span/>
            <img src="~/images/HINHNHO/@Model.HINHNHO/3.jpg" width="60" height="40"/>
        </dd>
        <dt>
            Mô tả
        </dt>
        <dd>
            @Model.MOTA
        </dd>
        <dt>
            Loại sản phẩm
        </dt>
        <dd>
            @Model.LOAISANPHAM.TENLOAISP
        </dd>
        <dt>
            Đánh giá
        </dt>
        <dd>
            @Model.DANHGIA
        </dd>
       
    </dl>
</div>

