@model BanDongHo.Areas.Admin.Models.ProductViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div id="page-wrapper">
    <div class="row page-header">
        <div class="col-md-8">
            <h1>Chỉnh sửa thông tin sản phẩm</h1>

        </div>
        <div class="col-md-4">
            <p style="color:green; margin-bottom: 10px;margin-top:40px">@ViewBag.message</p>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form method="post" action="~/Admin/Product/Update" id="form-update">
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <label class="control-label">Tên sản phẩm</label>
                            @Html.ValidationMessageFor(model => model.TENSP, "", new { @class = "text-danger", @style = "color: red" })
                            <input type="hidden" class="form-control" id="MASP" name="MASP" placeholder="" value="@Model.MASP" required />
                            <input type="text" class="form-control" id="TENSP" name="TENSP" onblur="validateName()" placeholder="" value="@Model.TENSP" required/>
                        </div>

                        <div class="col-md-4">
                            @Html.ValidationMessageFor(model => model.SOLUONG, "", new { @class = "text-danger", @style = "color: red" })
                            <label class="control-label">Số lượng</label>
                            <input type="number" class="form-control" id="SOLUONG" name="SOLUONG" placeholder="" required value="@Model.SOLUONG" min="1" />
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label">Mô tả</label>
                    @Html.ValidationMessageFor(model => model.MOTA, "", new { @class = "text-danger", @style = "color: red" })
                    <textarea class="form-control" id="MOTA" name="MOTA" placeholder="" required>@Model.MOTA</textarea>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Thương hiệu</label>
                            <select id="MATH" name="MATH" class="form-control">
                                @foreach (var item in ViewBag.ThuongHieu)
                                {
                                    <option value="@item.MATH"> @item.TENTH </option>
                                }
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="control-label">Loại sản phẩm</label>
                            <select id="MALOAISP" name="MALOAISP" class="form-control">
                                @foreach (var item in ViewBag.LoaiSanPham)
                                {
                                    <option value="@item.MALOAISP"> @item.TENLOAISP </option>
                                }

                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="control-label">Đơn giá(VNĐ)</label>
                            <input type="number" step="10000" class="form-control" id="DONGIA" name="DONGIA" required value="@Model.DONGIA" min="100000" />
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Hình lớn</label>
                            @Html.ValidationMessageFor(model => model.HINHLON, "", new { @class = "text-danger", @style = "color: red" })
                            <input type="text" class="form-control form-group" id="TENHINHLON" name="HINHLON" value="@Model.HINHLON" readonly />
                            <input type="file" class="form-control" id="HINHLON" accept="image/*" />
                        </div>
                        <div class="col-md-8">
                            <img id="HINH1" src="~/images/HINHLON/@Model.HINHLON" width="180" height="120" />
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Hình nhỏ 1</label>
                            <input type="hidden" class="form-control form-group" id="HINHNHO" name="HINHNHO" value="@Model.HINHNHO"/>
                            <input type="file" class="form-control form-group" id="HINHNHO1" name="HINHNHO1" accept="image/*" />
                            <div>
                                <img id="HINH2" src="~/images/HINHNHO/@Model.HINHNHO/1.jpg" width="180" height="120" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="control-label">Hình nhỏ 2</label>
                            <input type="file" class="form-control form-group" id="HINHNHO2" name="HINHNHO2" accept="image/*" />
                            <div>
                                <img id="HINH3" src="~/images/HINHNHO/@Model.HINHNHO/2.jpg" width="180" height="120"/>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="control-label">Hình nhỏ 3</label>
                            <input type="file" class="form-control form-group" id="HINHNHO3" name="HINHNHO3" accept="image/*"/>
                            <div>
                                <img id="HINH4" src="~/images/HINHNHO/@Model.HINHNHO/3.jpg" width="180" height="120" />
                            </div>
                        </div>
                    </div>


                </div>           

                <div class="form-group">
                    <label class="control-label">Đánh giá</label>
                    @Html.ValidationMessageFor(model => model.DANHGIA, "", new { @class = "text-danger", @style = "color: red" })
                    <textarea class="form-control" id="DANHGIA" name="DANHGIA" placeholder="" required>@Model.DANHGIA</textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-success" id="btn-ok-create" type="submit"> Ok </button>
                    <button class="btn btn-danger" id="btn-cancel-create"> Cancel </button>
                </div>
            </form>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>



<script>
    var temp1 = '@Model.MALOAISP';
    $("#MALOAISP option").each(function () {
        if ($(this).val() == temp1) {
            $(this).attr("selected", "selected");
        }
    });

    var temp2 = '@Model.MATH';
    $("#MATH option").each(function () {
        if ($(this).val() == temp2) {
            $(this).attr("selected", "selected");
        }
    });

    function validateName() {
        var name = $('#TENSP').val();

        if (isEmpty(name)) {
            $('#TENSP').css("border-color", "red");
            return false;
        } else {
            $('#TENSP').css("border-color", "green");
        }
        return true;
    }

    $("#form-update").submit(function () {
       
        if ($('#HINHLON').val().length > 0) {
            Image($('#TENHINHLON').val());
        }
        if ($('#HINHNHO1').val().length > 0) {
            Photo($('#HINHNHO').val(), "1.jpg", "HINHNHO1");
        }
        if ($('#HINHNHO2').val().length > 0) {
            Photo($('#HINHNHO').val(), "2.jpg", "HINHNHO2");
        }
        if ($('#HINHNHO3').val().length > 0) {
            Photo($('#HINHNHO').val(), "3.jpg", "HINHNHO3");
        }
       
    });

    /// preview image with onchange
    $("#HINHLON").change(function () {
       
        readURL(this, 'HINH1');
    });
    $("#HINHNHO1").change(function () {
        readURL(this, 'HINH2');
    });
    $("#HINHNHO2").change(function () {
        readURL(this, 'HINH3');
    });
    $("#HINHNHO3").change(function () {
        readURL(this, 'HINH4');
    });


    function getFileName(filePath) {
        return filePath.substr(filePath.lastIndexOf('\\') + 1);
    };

    function addZero(x, n) {
        while (x.toString().length < n) {
            x = "0" + x;
        }
        return x;
    };

    /// preview image
    function readURL(input, id) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {            
                $('#' + id).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    };

    function tenhinh() {
        var d = new Date();

        var year = d.getFullYear();
        var mont = addZero(d.getMonth() + 1, 2);
        var date = addZero(d.getDate(), 2);
        var h = addZero(d.getHours(), 2);
        var m = addZero(d.getMinutes(), 2);
        var s = addZero(d.getSeconds(), 2);
        var ms = addZero(d.getMilliseconds(), 3);
        var res = year + mont + date + h + m + s + ms;

        return res;
    };

    function Image(tenhinh) {
        var formData = new FormData();
        var totalFiles = document.getElementById("HINHLON").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("HINHLON").files[i];
            formData.append("HINHLON", file);
        }
        $.ajax({
            type: "POST",
            url: '/Admin/Product/PhotoCreate?tenhinh=' + tenhinh,
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.result == true) {
                    alert("upload image success");
                } else {
                    alert("upload image hinh lon fail");
                }

            },
            error: function () {
                alert("upload image fail");
            }
        });
    }

    function Photo(hinhlon, hinhnho, id) {
        var formData = new FormData();
        var totalFiles = document.getElementById(id).files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById(id).files[i];
            formData.append(id, file);
        }
        $.ajax({
            type: "POST",
            url: '/Admin/Product/PhotoUpdate?hinhlon=' + hinhlon + '&hinhnho=' + hinhnho,
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.result == true) {
                    alert("upload image success");
                } else {
                    alert("upload image hinh nho fail");
                }

            },
            error: function () {
                alert("upload image fail");
            }
        });
    }


</script>
