@model BanDongHo.Areas.Admin.Models.ProductBrandViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div id="page-wrapper">
    <div class="row page-header">
        <div class="col-md-8">
            <h1>Chỉnh sửa thương hiệu</h1>

        </div>
        <div class="col-md-4">
            <p style="color:green; margin-bottom: 10px;margin-top:40px">@ViewBag.message</p>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form method="post" action="~/Admin/ProductBrand/Update" id="form-update">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Tên thương hiệu</label>
                            @Html.ValidationMessageFor(model => model.TENTH, "", new { @class = "text-danger", @style = "color: red" })
                            <input type="hidden" class="form-control" id="MATH" name="MATH" placeholder="" value="@Model.MATH" />
                            <input type="text" class="form-control" id="TENTH" name="TENTH" placeholder="" value="@Model.TENTH"/>
                        </div>

                        <div class="col-md-4">
                            @Html.ValidationMessageFor(model => model.HINHTH, "", new { @class = "text-danger", @style = "color: red" })
                            <label class="control-label">Hình thương hiệu</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="TENHINHTH" name="HINHTH" placeholder="" value="@Model.HINHTH" readonly />
                            </div>
                            
                            <input type="file" class="form-control" id="HINHTH" placeholder="" />
                        </div>

                        <div class="col-md-4">
                            <img src="~/images/HINHTH/@Model.HINHTH" width="180" height="120" id="HINH"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-success" id="btn-ok-create" type="submit"> Ok </button>
                    <button class="btn btn-danger" id="btn-cancel-create"> Cancel </button>
                </div>
            </form>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>


<!-- javascript -->
<script>

    

    $("#form-update").submit(function () {
        
        if ($('#HINHTH').val().length > 0) {
            Image($('#TENHINHTH').val());
        }
        
    });


    $("#HINHTH").change(function () {      
        readURL(this);    
    });


    function getFileName(filePath) {
        return filePath.substr(filePath.lastIndexOf('\\') + 1);
    };

    function addZero(x, n) {
        while (x.toString().length < n) {
            x = "0" + x;
        }
        return x;
    };

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#HINH').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    };

    function tenhinh() {
        var d = new Date();

        var year = d.getFullYear();
        var mont = addZero(d.getMonth() + 1, 2);
        var date = addZero(d.getDate(), 2);
        var h = addZero(d.getHours(), 2);
        var m = addZero(d.getMinutes(), 2);
        var s = addZero(d.getSeconds(), 2);
        var ms = addZero(d.getMilliseconds(), 3);
        var res = year + mont + date + h + m + s + ms;
        var filename = getFileName($('#HINHTH').val());
        var extendFile = filename.split('.')[1];

        return res + "." + extendFile;
    };

    function Image(tenhinh) {
        var formData = new FormData();
        var totalFiles = document.getElementById("HINHTH").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("HINHTH").files[i];
            formData.append("HINHTH", file);
        }
        $.ajax({
            type: "POST",
            url: '/Admin/ProductBrand/PhotoCreate?tenhinh=' + tenhinh,
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.result == true) {
                    alert("upload image success");
                } else {
                    alert("upload image fail ccc");
                }

            },
            error: function () {
                alert("upload image fail");
            }
        });
    }


</script>




