@model BanDongHo.Models.ViewModel.RegisterViewModel
@using BotDetect.Web.Mvc;

<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />

@{ MvcCaptcha registerCaptcha = new MvcCaptcha("registerCaptcha"); }

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="~/Home/Index">Home</a></li>
                <li class="active">Register</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--register-starts-->
<div class="register">
    <div class="container">
        <form method="post" action="~/dang-ky">
            @Html.AntiForgeryToken()
            @if (ViewData["SuccessMsg"] != null)
            {
                <div class="alert alert-success" role="alert"> 
                    <strong>Chúc mừng bạn!</strong> đã đăng ký thành công.
                    <br />Vui lòng click <a href="~/dang-nhap">vào đây</a> để đăng nhập.
                </div>
            }
            <div class="register-top heading">
                <h2>REGISTER</h2>
            </div>
            <div class="register-main">
                <div style="position: relative; padding-right: 15px; padding-left: 15px">
                    <p style="color:#f00">
                        @ViewBag.MessageRegister
                    </p>
                </div>
                <div class="col-md-6 account-left">
                    <input name="FirstName" placeholder="First name" type="text" tabindex="5" required value="@Model.FirstName" />
                    <input name="LastName" placeholder="Last name" type="text" tabindex="6" required value="@Model.LastName">
                    <input name="Address" placeholder="Address" type="text" tabindex="7" required value="@Model.Address">     
                    <input name="Email" placeholder="Email address" type="text" tabindex="8" required value="@Model.Email">        
                    <input name="Phone" placeholder="Mobile" type="text" tabindex="9" required value="@Model.Phone">
                    <ul>
                        <li><label class="radio left"><input name="Sex" type="radio" checked="" value="Nam"><i></i>Male</label></li>
                        <li><label class="radio"><input name="Sex" type="radio" value="Nữ"><i></i>Female</label></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="col-md-6 account-left">
                    <input name="Account" placeholder="Account" type="text" tabindex="10" required>    
                    <input id="inPassWord" name="Password" placeholder="Password" type="password" tabindex="11" required>         
                    <input id="rePassWord" name="ResetPassword" placeholder="Retype password" type="password" tabindex="12" required>             
                    @Html.Captcha(registerCaptcha)
                    <input id="CaptchaCode" name="CaptchaCode" type="text" tabindex="12" required>
                    @*@Html.TextBox("CaptchaCode")*@
                    @Html.ValidationSummary(false, "", new { @class = "text-danger col-md-6 account-left", @style = "color: red" })              
                    <br />
                    <span id="LoiPassWord" style="color: red; font-family: 'Lato-Regular'"></span>
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger", @style = "color: red" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger", @style = "color: red" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger", @style = "color: red" })
                    @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @style = "color: red" })*@
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger", @style = "color: red" })
                    @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @style = "color: red" })*@
                    @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger", @style = "color: red" })
                 </div>
                <div class="clearfix"></div>
            </div>
            <div class="address submit">
                <input id="btnSubmit" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
<!--register-end-->

@*Script kiểm tra ô nhập lại mật khẩu phải trùng với ô trên*@
<script type="text/javascript">
    $('#btnSubmit').click(function () {
        var loi = 0;
        if($('#inPassWord').val() != $('#rePassWord').val())
        {
            $('#LoiPassWord').text('Mật khẩu không khớp nhau !');
            loi++;
        }
        else {
            $('#LoiPassWord').text('');
        }
        if(loi != 0)
        {
            return false;
        }
        return true;
    });
</script>